{{ $col_id := .Get "color" | default "dark" }}
{{/* Height can be one of: auto, min, med, max, full. */}}
{{ $height := .Get "height" | default "max"  }}
<section class="row td-cover-block td-cover-block--height-{{ $height }} js-td-cover td-overlay td-overlay--light -bg-{{ $col_id }}">
  <div class="container td-overlay__inner">
    <div class="row align-items-end">
      <div class="col-lg-6">
          <h1 class="display-1 mt-0 pb-3">
            <img alt="Fireactjs" width="88" src="images/logo.png" />
            Fireactjs
          </h1>
          <p class="display-3 mb-1">Firebase + Reactjs + Stripe</p>
          <p class="lead mt-4">The fully customizable open-source framework for building SaaS and user portals with Firebase + Reactjs + Stripe</p>
      </div>
      <div class="col-lg-6 mt-5 mt-lg-3 d-sm-block" style="display: none">
          <img src="fireactjs_laptop.png" width="500" />
      </div>
      <div class="col-12 pt-3">
          <div class="pt-3 lead text-center">
              {{ .Inner }}
            </div>
      </div>
    </div>
  </div>
</section>