---
title: "Fireactjs Community"
linkTitle: Community
weight: 100
menu:
  main:
    weight: 100
---
{{< blocks/lead color="primary" >}}
<p><h2><b>Join the Fireactjs community</b></h2></p>
<p>Fireactjs is an open-source project that everyone in the community can use, learn from and contribute to. We would love you to join us. Here are a few ways to join the community.</p>
{{< /blocks/lead >}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-solid fa-comments" title="Discussions" url="https://github.com/fireactjs/core/discussions" %}}
Provide feedback to the community. Ask questions and answer questions from other community members.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-suitcase" title="Showcase" url="./showcase/" %}}
We love to see your cool work based on Fireactjs. Submit your web application that is built based on Fireactjs.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-brands fa-github" title="Github" url="https://github.com/fireactjs/core/" %}}
Report issues or contribute code to improve the project. Visit the Github repo of the project.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section>}}
<div class="col-12">
  <h2 class="text-center"><b>Contributors</b></h2>
</div>
{{< /blocks/section >}}

{{< blocks/section color="primary" >}}

{{< card title="<b>Chaoming Li</b>" >}}
  <a href="https://github.com/chaoming" target="_blank">
    <img src="https://avatars.githubusercontent.com/u/390245?s=400&u=3c1ce51b570423fffb8a58522a25a7deb21e6757&v=4" alt="Chaoming Li" />
  </a>
{{< /card >}}

{{< /blocks/section >}}