+++
title = "Fireactjs"
linkTitle = "Home"
+++
{{< blocks/cover title="" image_anchor="top" height="min" color="light-secondary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="#">
		Get Started <i class="fa-solid fa-bolt ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://demo.fireactjs.com" target="_blank">
		Live Demo <i class="fas fa-arrow-alt-circle-right ml-2 "></i>
	</a>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="warning" >}}
	</div>
</div>
{{< /blocks/cover >}}

{{< blocks/lead color="warning" >}}
<p><b>What is Fireactjs?</b></p>

<p>Fireactjs is an open-source framework for building SaaS and user portals with Firebase and Reactjs. The framework is designed to be component-based, so it can be extensible and customizable by adding or replacing custom-built components.</p>
{{< /blocks/lead >}}

{{< blocks/section color="prmiary" >}}
{{% blocks/feature icon="fa-solid fa-code" title="Open source" url="./docs/getting-started/" %}}
Fireactjs is an open-source project for developers to use for free without worries, and join the community to learn together.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-boxes-stacked" title="Extensible and customizable" url="./docs/guides/client-sdks/" %}}
Fireactjs is designed as component-based so that you can easily extend and customize the features with your own components.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-bolt" title="Accelerate development" url="./docs/guides/metrics/" %}}
Fireactjs is very simple to setup to help you accelerate your development by skipping the development work of fundamental functionalities such as user authentication.
{{% /blocks/feature %}}


{{< /blocks/section >}}